DOCKERHUB_USERNAME=your_dockerhub_username
DOCKERHUB_PASSWORD=your_dockerhub_password
KUBECONFIG_PATH=

NGINX_VERSION="4.11.1"
CERT_MANAGER_VERSION="1.13.2"
POSTGRES_VERSION="19.0.3"
GARNET_VERSION="0.1.0"

STATIC_IP=""

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

RANCHER_VERSION="2.8.1"
DOMAIN=example.com
ADMIN_EMAIL=support@freelight.org
BOOTSTRAP_PASSWORD=a7632qgaw8673a9732qha789q34h97a84w7